<p>{{ ?data.member.display_name:data.member.display_name:data.member.name }}</p>
<p>感謝把羊羊帶回家</p>
<p>領羊號碼：{{ data.id }}</p>
<p>可以用它在羊星球查詢更多資訊喔</p>
{% comment %} 
{
    "id": "2024082920cd96a",
    "status": "pending",
    "created_at": "2024-08-29T20:35:54.031157+08:00",
    "total_amount": 124839,
    "address": "htresahtersjh",
    "tel": "5156156",
    "items": [
        {
            "product": {
                "name": "gaer",
                "price": 156
            },
            "count": 1,
            "price": 156
        },
        {
            "product": {
                "name": "烟花",
                "price": 41561
            },
            "count": 3,
            "price": 124683
        }
    ],
    "member": {
        "name": "Non_50027",
        "display_name": "農農兒",
        "email": "Energy50027@gmail.com",
        "role": "admin",
        "created_at": "2024-08-20T01:03:59.193214+08:00"
    }
}
{% endcomment %}